<!-- Preloader -->
<div class="preloader">
  <div class="center">
    <div class="loader loader-32">
      <div class='loader-container'>
        <div class='ball-wrapper'>
          <div class='ball-holder'>
            <div class='ball'></div>
          </div>
          <div class='shadow'></div>
        </div>
        <div class='ball-wrapper'>
          <div class='ball-holder'>
            <div class='ball'></div>
          </div>
          <div class='shadow'></div>
        </div>
        <div class='ball-wrapper'>
          <div class='ball-holder'>
            <div class='ball'></div>
          </div>
          <div class='shadow'></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Preloader End -->
