<!--Team sec start-->
<section class="team-sec position-relative" id="team-sec">
  <div class="left-overlay"></div>
  <div class="container">
    <div class="row inner-team-sec padding-top padding-bottom">
      <div class="col-12  text-center text-lg-left">
        <div class="team-detail wow fadeInLeft">
          <h4 class="heading">CONOCE  NUESTROS DESARROLLOS</h4>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="col-12  text-center text-lg-left">
        <div class="team-detail wow fadeInLeft">
          <h5 class="heading">Alma Viva</h5>
        </div>
      </div>
      <div class="col-12 col-lg-6 offset-lg-1">
        <div class=""> <!-- start service-wpr -->
          <app-custom-card-swiper
            [sliderItems] = desarrollos
          ></app-custom-card-swiper>
        </div> <!-- end service wrp -->
      </div>
    </div>
  </div>
</section>
<!--Team sec End-->

