<!--Team sec start-->
<section class="team-sec position-relative" id="team-sec">
  <div class="left-overlay"></div>
  <div class="container">
    <div class="row inner-team-sec padding-top padding-bottom">
      <div class="col-12  text-center text-lg-left">
        <div class="team-detail wow fadeInLeft">
          <h4 class="heading">NUESTROS <span>DESARROLLOS</span></h4>

        </div>
      </div>
      <div class="col-12 col-lg-6 offset-lg-1">
        <div class=""> <!-- start service-wpr -->
          <app-custom-card-swiper
            [sliderItems] = desarrollos
          ></app-custom-card-swiper>
        </div> <!-- end service wrp -->

      </div>
    </div>
  </div>
</section>
<!--Team sec End-->

<!--testimonial section start-->
<!--<div class="testimonial-sec padding-top position-relative" id="testimonial-sec">-->
<!--  <div class="right-overlay"></div>-->
<!--  <div class="container">-->
<!--    <div class="testimonial-area padding-top padding-bottom">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-12 col-lg-5 d-flex justify-content-center align-items-center text-center text-lg-left">-->
<!--            <div class="testimonial-details wow fadeInLeft">-->
<!--              <h4 class="heading">SATISFIED <span>CUSTOMERS</span></h4>-->
<!--              <p class="text">-->
<!--                Lorem ipsum is simply dummy text of the printing and typesetting. Lorem Ipsum has been the industry’s-->
<!--                standard dummy.-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-12 col-lg-6 offset-lg-1">-->
<!--            <div class="testimonial-carousel wow fadeInRight">-->
<!--              <div class="testimonial-box owl-carousel owl-theme">-->
<!--                <div class="item text-center">-->
<!--                  <div class="icon-holder">-->
<!--                    <i class="fas fa-quote-right"></i>-->
<!--                  </div>-->
<!--                  <p class="text">-->
<!--                    Conce nuestros desarrollos-->
<!--                  </p>-->
<!--                  <div class="img-holder">-->
<!--                    <img src="https://sakaab.com/storage/2021/10/Post-lanzamiento-ok-2-03.png">-->
<!--                  </div>-->
<!--                  <h4 class="user-name">Sara Williams</h4>-->
<!--                </div>-->
<!--                <div class="item text-center">-->
<!--                  <div class="icon-holder">-->
<!--                    <i class="fas fa-quote-right"></i>-->
<!--                  </div>-->
<!--                  <p class="text">-->
<!--                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae egestas mi, vel dapibus diam.-->
<!--                    Mauris malesuada, nisl non rutrum commodo, sem magna laoreet tellus, eu euismod dolor enim et mi. In-->
<!--                    at tempor purus.-->
<!--                  </p>-->
<!--                  <div class="img-holder">-->
<!--                    <img src="https://sakaab.com/storage/2021/10/Post-lanzamiento-ok-2-03.png">-->
<!--                  </div>-->
<!--                  <h4 class="user-name">Julia Miltese</h4>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--testimonial section end-->
