<!--Contact section start-->
<section class="contact-sec padding-top padding-bottom" id="contact-sec">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7">
        <h4 class="heading text-center text-lg-left">CONTACTAME</h4>
        <form class="row contact-form wow fadeInLeft" [formGroup]="form" method="post" (ngSubmit)="onSubmit()"
              id="contact-form-data">
          <div class="col-sm-12" id="result"></div>
          <div class="col-12 col-md-5">
            <input [formControl]="name" type="text" name="userName" placeholder="Nombre" class="form-control">
            <input [formControl]="email" type="email" name="userEmail" placeholder="Correo Electrónico *"
                   class="form-control">
            <!--            <input  type="text" name="userSubject" placeholder="Subject" class="form-control"> -->
          </div>
          <div class="col-12 col-md-7">
            <textarea [formControl]="message" class="form-control" name="userMessage" rows="6"
                      placeholder="Mensaje"></textarea>
            <input [formControl]="honeypot" class="hidden" type="text"/>
          </div>

          <div class="col-12">
            <button [disabled]="isLoading" type="submit" class="btn yellow-btn rounded-pill w-100 contact_btn"><i
              class="fa fa-spinner fa-spin mr-2 d-none" aria-hidden="true"></i> Enviar Mensaje
              <span></span><span></span><span></span><span></span><span></span>
            </button>
          </div>
          <div [ngClass]="!submitted? 'hidden' : 'visible'" class="center-text">
            <br>
            <span>{{responseMessage}}</span>
          </div>
        </form>
      </div>
      <div class="col-12 col-lg-5 text-center text-lg-left position-relative">
        <div class="contact-details wow fadeInRight">
          <h4 class="heading">NUESTRA UBICACIOIN</h4>
          <p class="text">
            Ven a conocer nuestras oficinas ubicadas en:
          </p>
          <ul>
            <li><i class="las la-map-marker addr"></i>World Trade Center, Montesito 38 Piso 21 oficina 23 y 24 , Col.
              Nápoles, alcaldía Benito Juarez, CDMX
            </li>
            <li><i class="las la-phone-volume phone"></i>
              <span>+52 55 35 15 71 77</span>
            </li>
            <li><i class="las la-paper-plane email"></i>inversiones.inmob.mg@gmail.com</li>
          </ul>
        </div>
        <img src="assets/img/contact-background.png" class="contact-background" alt="contact">
      </div>
    </div>
  </div>
</section>
<!--Contact section end-->
