<!--Header Start-->
<header id="home" class="cursor-light">

  <div class="inner-header">
    <!--colored-lines-->
    <div class="color-lines position-relative">
      <div class="container">
        <div class="row">
          <div class="col-12 bg-color"></div>
        </div>
      </div>
      <div class="color-line-overlay"></div>
    </div>

    <!--main nav-->
    <div class="main-navigation">
      <div class="container">
        <div class="row">
          <div class="col-4 col-lg-3">
            <a class="navbar-brand simple-nav-logo link" href="index.html">
              <img src="assets/img/logo-black.png" alt="logo">
            </a>
            <a class="navbar-brand fixed-nav-logo link" href="index.html">
              <img src="assets/img/logo-black.png" alt="logo">
            </a>
          </div>
          <div class="col-8 col-lg-9 simple-navbar d-flex align-items-center justify-content-end" id="simple-navbar">
            <nav class="navbar navbar-expand-lg">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item active"><a class="nav-link home link" routerLink="/"><span>0</span><span data-count="1" class="num-nav">1</span><span>.</span>INICIO</a></li>
                  <li class="nav-item"><a class="nav-link scroll link" href="index.html#about-sec"><span>0</span><span data-count="2" class="num-nav">2</span><span>.</span>ACERCA DE</a></li>
                  <li class="nav-item"><a class="nav-link scroll link" routerLink="/desarrollos"><span>0</span><span data-count="3" class="num-nav">3</span><span>.</span>DESARROLLOS</a></li>
                  <li class="nav-item"><a class="nav-link scroll link" routerLink="index.html#testimonial-sec"><span>0</span><span data-count="4" class="num-nav">4</span><span>.</span>YUCATAN</a></li>
                  <li class="nav-item"><a class="nav-link scroll link" routerLink="index.html#blog-sec"><span>0</span><span data-count="5" class="num-nav">5</span><span>.</span>BIO</a></li>
                  <li class="nav-item"><a class="nav-link scroll link" routerLink="/contacto"><span>0</span><span data-count="6" class="num-nav">6</span><span>.</span>CONTACTO</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!--toggle btn-->
    <a href="javascript:void(0)" class="sidemenu_btn link" id="sidemenu_toggle">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
  <!--Side Nav-->
  <div class="side-menu hidden side-menu-opacity">
    <div class="bg-overlay"></div>
    <div class="inner-wrapper">
      <span class="btn-close" id="btn_sideNavClose"><i></i><i></i></span>
      <div class="container">
        <div class="row w-100 side-menu-inner-content">
          <div class="col-12 d-flex justify-content-center align-items-center">
            <a href="index.html" class="navbar-brand"><img src="architect-studio/img/logo.png" alt="logo"></a>
          </div>
          <div class="col-12 col-lg-8">
            <nav class="side-nav w-100">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link scroll" href="index.html#home">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link scroll" href="index.html#about-sec">ABOUT</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link scroll" href="index.html#company-portfolio-section">PORTFOLIO</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link scroll" href="index.html#testimonial-sec">CLIENTS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link scroll" href="index.html#blog-sec">BLOG</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link scroll" href="index.html#contact-sec">CONTACT</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-12 col-lg-4 d-flex align-items-center">
            <div class="side-footer text-white w-100">
              <div class="menu-company-details">
                <span>+1 631 123 4567</span>
                <span>email@website.com</span>
              </div>
              <ul class="social-icons-simple">
                <li><a class="facebook-text-hvr" href="javascript:void(0)"><i class="fab fa-facebook-f"></i> </a> </li>
                <li><a class="twitter-text-hvr" href="javascript:void(0)"><i class="fab fa-twitter"></i> </a> </li>
                <li><a class="youtube-text-hvr" href="javascript:void(0)"><i class="fab fa-youtube"></i> </a> </li>
                <li><a class="instagram-text-hvr" href="javascript:void(0)"><i class="fab fa-instagram"></i> </a> </li>
              </ul>
              <p class="text-white">&copy; 2023 MegaOne. Made With Love by Themesindustry</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a id="close_side_menu" href="javascript:void(0);"></a>

</header>
<!--Header End-->
