<div class="theme_all_wrap" data-magic-cursor=" " data-color="crimson">
  <div id="main-wrapper">
    <div class="main-area-width">
      <main class="main">
        <app-header></app-header>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
        <a
          href="https://api.whatsapp.com/send?phone=+5215535157177&text=Hola%21%20Quisiera%20saber%20como%20invertir."
          class="float" target="_blank">
          <i class="fab fa-whatsapp my-float"></i>
        </a>
      </main>
    </div>

  </div>
</div>
