

<!--sponsers section start-->
<div class="sponser-sec padding-top" id="sponser-sec" style="margin-bottom: 10vh">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sponser-tags owl-carousel owl-theme">
          <div class="item">
            <img src="assets/img/brand4.png">
          </div>
          <div class="item">
            <img src="assets/img/brand4.png">
          </div>
          <div class="item">
            <img src="assets/img/brand4.png">
          </div>
          <div class="item">
            <img src="assets/img/brand4.png">
          </div>
          <div class="item">
            <img src="assets/img/brand4.png">
          </div>
          <div class="item">
            <img src="assets/img/brand4.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--sponsers section end-->

