<!--Blogs section start-->
<section class="blog-sec" id="blog-sec">
  <div class="left-overlay"></div>
  <div class="container position-relative">
    <div class="blog-inner-overlay"></div>
    <div class="row blog-area">
      <div class="col-12 col-lg-5 d-flex align-items-center text-center text-lg-left">
        <div class="blog-detail wow fadeInLeft">
          <h4 class="heading text-black">LATEST <span>DESIGN BLOGS</span></h4>
          <p class="text text-black">
            Lorem ipsum is simply dummy text of the printing and typesetting. Lorem Ipsum has been the industry’s standard dummy.
          </p>
          <a class="btn anim-btn rounded-pill" href="assets/standard-blog.html">LEARN MORE
            <span></span><span></span><span></span><span></span>
          </a>
        </div>
      </div>
      <div class="col-12 col-lg-6 offset-lg-1">
        <div class="blog-img wow fadeInRight">
          <img src="assets/img/blog1.png" alt="blog-img">
        </div>
      </div>
    </div>
  </div>
</section>
<!--Blogs section end-->


