<!--slider sec start-->
<section id="slider-sec" class="slider-sec">
  <div class="overlay"></div>
  <div class="container">
    <div class="row position-relative slider-row">
      <div class="inner-overlay"></div>
      <div class="col-12 col-lg-6 d-flex align-items-center text-center text-lg-left">
        <div class="inner-slider-content">
          <h4>SANTA CLARA ECOVILLAGE </h4>
        </div>
      </div>
      <div class="col-12 col-lg-6" data-depth="0.1">
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/0a/7c/b7/db/piscina-praia.jpg">
      </div>
    </div>
  </div>
</section>
<!--slider sec end-->


<!--main page content-->
<section class="main" id="main">
  <!--content-->
  <div class="blog-content padding-top padding-bottom">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8">
          <div class="main_content text-center text-lg-left">
            <div class="detail_blog">
              <div class="blog_detail">
                <p class="blog-sub-heading text-center"><span></span>
                  ⭐️ Servicios de primera calidad
                </p>
                <h2>🌿 SANTA CLARA ECOVILLAGE 🌿 </h2>
                <!--                <span class="d-blog-text"><a href="#">JUNE 24, 2019</a> | BY <a href="#">MARK ANDERSON</a> | <a href="#">PHOTOGRAPHY</a>, <a href="#">MUSIC</a></span>-->
                <p class="d-text">
                  Exclusivo desarrollo de lotes Residenciales Premium de concepto vacacional a solo 2 minutos de la
                  playa de Santa Clara en Yucatán, el único con más de 500 HA de ecoparque.
                </p>
                <!--                                                <p class="blog-sub-heading text-center"><span></span>Most flexible one page</p>-->
                <!--                                                <h2>Post With A Preview Images</h2>-->

                <h5>URBANIZACIÓN</h5>
                <ul class="text-left">
                  <li>Calles pavimentadas.</li>
                  <li>Luz a pie de lote.</li>
                  <li>Barda Perimetral.</li>
                  <li>Acceso controlado (Seguridad 24/7).</li>
                  <li>Drenaje pluvial.</li>
                </ul>

                <h5>URBANIZACIÓN</h5>
                <ul class="text-left">
                  <li>Calles pavimentadas.</li>
                  <li>Luz a pie de lote.</li>
                  <li>Barda Perimetral.</li>
                  <li>Acceso controlado (Seguridad 24/7).</li>
                  <li>Drenaje pluvial.</li>
                </ul>

                <iframe width="100%" height="449" src="https://www.youtube.com/embed/xACuS0RRcC8" title="Yucatan"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                <div style="margin-top: 10vh"></div>
                <h5>URBANIZACIÓN</h5>
                <ul class="text-left">
                  <li>Calles pavimentadas.</li>
                  <li>Luz a pie de lote.</li>
                  <li>Barda Perimetral.</li>
                  <li>Acceso controlado (Seguridad 24/7).</li>
                  <li>Drenaje pluvial.</li>
                </ul>

                <h5>URBANIZACIÓN</h5>
                <ul class="text-left">
                  <li>Calles pavimentadas.</li>
                  <li>Luz a pie de lote.</li>
                  <li>Barda Perimetral.</li>
                  <li>Acceso controlado (Seguridad 24/7).</li>
                  <li>Drenaje pluvial.</li>
                </ul>


                <div class="row cube-sec no-gutters">
                  <div class="col-12 col-md-6 pr-0 pr-md-2 pb-3">
                    <img src="https://almaviva.mx/wp-content/uploads/2022/05/caban%CC%83a2.jpg" alt="image">
                  </div>
                  <div class="col-12 col-md-6 pl-0 pl-md-2 pb-3">
                    <img src="https://almaviva.mx/wp-content/uploads/2022/05/caban%CC%83a2.jpg" alt="image">
                  </div>
                  <div class="col-12">
                    <img src="https://almaviva.mx/wp-content/uploads/2022/05/caban%CC%83a2.jpg" alt="image">
                  </div>
                </div>

                <p class="d-text">Nam ut rutrum ex, venenatis sollicitudin urna. Aliquam erat volutpat. Integer eu ipsum
                  sem. Ut bibendum lacus vestibulum maximus suscipit. Quisque vitae nibh iaculis neque blandit euismod.
                  <br/><br/>
                  Maecenas sit amet purus eget ipsum elementum venenatis. Aenean maximus urna magna, quis rutrum mi
                  semper non. Cras rhoncus elit non arcu hendrerit rhoncus. Pellentesque dignissim volutpat orci at
                  interdum. In id ipsum volutpat.</p>


              </div>
            </div>

          </div>

        </div>
        <div class="col-12 col-lg-4">
          <div class="row">
            <div class="col-12">
              <div class="cat_sec">
                <h4 class="text-center text-lg-left">Categories</h4>
                <ul>
                  <li><a href="">ART </a> <span class="dots"></span>
                    <p>2</p></li>
                  <li><a href="">FASHION </a> <span class="dots"></span>
                    <p>5</p></li>
                  <li><a href="">PHOTOGRAPHY </a> <span class="dots"></span>
                    <p>12</p></li>
                  <li><a href="">LIFESTYLE </a> <span class="dots"></span>
                    <p>22</p></li>
                  <li><a href="">MOTIVATION </a> <span class="dots"></span>
                    <p>1</p></li>
                </ul>
              </div>
              <div class="popular_posts">
                <h4 class="text-center text-lg-left">Popular Posts</h4>
                <div class="media-box row">
                  <div class="col-5 box-img">
                    <img src="https://almaviva.mx/wp-content/uploads/2022/05/caban%CC%83a2.jpg" alt="image">
                  </div>
                  <div class="col-7 box-detail">
                    <h2>Post With A Slide Images</h2>
                    <p>July 18 , 2019 | by <span>Mark Aderson</span></p>
                  </div>
                </div>
              </div>
              <div class="tags_sec">
                <h4 class="text-center text-lg-left">Tags</h4>
                <div class="tags text-center text-lg-left">
                  <span class="rounded-pill">AUDIO</span>
                  <span class="rounded-pill">VEDIO</span>
                  <span class="rounded-pill">BRANDINGS</span>
                  <span class="rounded-pill">GRAPHICS</span>
                  <span class="rounded-pill">FASHION</span>
                  <span class="rounded-pill">DIGITAL</span>
                  <span class="rounded-pill">SCANNING</span>
                </div>
              </div>
              <div class="cat_sec">
                <h4 class="text-center text-lg-left">Archieves</h4>
                <ul>
                  <li><a href="">2 Jan , 2019 </a> <span class="dots"></span>
                    <p>2</p></li>
                  <li><a href="">2 Feb , 2019 </a> <span class="dots"></span>
                    <p>5</p></li>
                  <li><a href="">2 Mar , 2019 </a> <span class="dots"></span>
                    <p>12</p></li>
                  <li><a href="">2 June , 2019 </a> <span class="dots"></span>
                    <p>22</p></li>
                  <li><a href="">2 Aug , 2019 </a> <span class="dots"></span>
                    <p>1</p></li>
                </ul>
              </div>
              <div class="advertisment">
                <img src="img/blogs/advertisment.jpg" alt="image"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--main page content end-->

<div>
  <div style="width: 100%">
    <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            src="https://maps.google.com/maps?width=100%25&amp;height=300&amp;hl=es&amp;q=progreso+(Yucatan)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
      <a href="https://www.gps.ie/car-satnav-gps/">Car Navigation Systems</a></iframe>
  </div>
</div>

