<!--slider sec start-->
<section id="slider-sec" class="slider-sec">
  <div class="overlay"></div>
  <div class="container">
    <div class="row position-relative slider-row">
      <div class="inner-overlay"></div>
      <div class="col-12 col-lg-6 d-flex align-items-center text-center text-lg-left">
        <div class="inner-slider-content">
          <h4>{{desarrollo.titulo}} </h4>
        </div>
      </div>
      <div class="col-12 col-lg-6" data-depth="0.1">
        <img [src]="desarrollo.portada?.data?.attributes?.url">
      </div>
    </div>
  </div>
</section>
<!--slider sec end-->


<!--main page content-->
<section class="main" id="main">
  <!--content-->
  <div class="blog-content padding-top padding-bottom">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8">
          <div class="main_content text-center text-lg-left">
            <div class="detail_blog">
              <div class="blog_detail">
                <p class="blog-sub-heading text-center"><span></span>{{desarrollo.keyPoint}}</p>
                <markdown [data]="desarrollo.descripcion"></markdown>
              </div>
            </div>


            <!--            <iframe width="100%" height="449" src="https://www.youtube.com/embed/{{desarrollo.youtubeLink}}" title="Yucatan"-->
            <!--                    frameborder="0"-->
            <!--                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"-->
            <!--                    allowfullscreen></iframe>-->

            <youtube-player [videoId]="desarrollo.youtubeLink"></youtube-player>

            <div class="row cube-sec no-gutters">
              <div class="col-12 col-md-6 pr-0 pr-md-2 pb-3">
                <img [src]="desarrollo.footerImg1.data.attributes.url" alt="image">
              </div>
              <div class="col-12 col-md-6 pl-0 pl-md-2 pb-3">
                <img [src]="desarrollo.footerImg2.data.attributes.url" alt="image">
              </div>
              <div class="col-12">
                <img [src]="desarrollo.footerImg3.data.attributes.url" alt="image">
              </div>
            </div>
            <br>
            <br>
            <markdown [data]="desarrollo.textoFinal"></markdown>


          </div>

        </div>
        <div class="col-12 col-lg-4">
          <div class="row">
            <div class="col-12">
              <div class="cat_sec">
                <h4 class="text-center text-lg-left">Brochure</h4>
                <div style="display: flex; text-align: center">
                  <a href="/assets/pdf/{{desarrollo.brochure}}.pdf" target="_blank">
                    <img src="assets/img/icons/archivo-pdf.png" alt="pdf" width="60">
                    <p style="margin-left: 5px">Descarga el Brochure técnico del proyecto</p>
                  </a>

                </div>
              </div>

              <div class="tags_sec">
                <h4 class="text-center text-lg-left">Informacion legal</h4>
                <div class="tags text-center text-lg-left">


                  <div *ngFor="let item of desarrollo.links">
                    <a target="_blank"
                       href="{{item.linkUrl}}">
                      <span class="rounded-pill">{{item.titulo}}</span>
                    </a>
                  </div>

                </div>
              </div>
              <div class="cat_sec">
                <h4 class="text-center text-lg-left">Servicios Premium</h4>
                <ul style="font-size: 80px; font-weight: bolder">
                  <li *ngFor="let item of desarrollo.serviciosPremium">
                    ⭐️ {{item.nombreServicio}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--main page content end-->

<div>
  <div style="width: 100%">
    <!--    <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"-->
    <!--            [src]="sanitizeUrl(desarrollo.mapLink)"-->
    <!--            >-->
    <!--      </iframe>-->

    <iframe
      [src]='getMapLocation() | safe'
      width="100%" height="300"
      frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
      allowfullscreen webkitallowfullscreen mozallowfullscreen>
    </iframe>
  </div>
</div>
