<!--Team sec start-->
<section class="team-sec position-relative" id="team-sec">
  <div class="left-overlay"></div>
  <div class="container">
    <div class="row inner-team-sec padding-top padding-bottom">
      <div class="col-12 col-lg-4 text-center text-lg-left">
        <div class="team-detail wow fadeInLeft">
          <h4 class="heading">WE HAVE <span>AMAZING TEAM</span></h4>
          <p class="text">
            Lorem ipsum is simply dummy text of the printing and typesetting. Lorem Ipsum has been the industry’s standard dummy.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-8">
        <div class="team-area wow fadeInRight">
          <div class="row no-gutters team-carousel owl-carousel owl-theme">
            <div class="item text-center">
              <div class="team-box">
                <div class="img-holder position-relative">
                  <img src="assets/img/team1.jpg">
                  <div class="overlay d-flex justify-content-center align-items-center">
                    <!--Team Social-->
                    <ul class="team-social">
                      <li><a class="facebook-text-hvr" href="javascript:void(0);"><i class="lab la-facebook-f" aria-hidden="true"></i></a></li>
                      <li><a class="twitter-text-hvr" href="javascript:void(0);"><i class="lab la-twitter" aria-hidden="true"></i></a></li>
                      <li><a class="instagram-text-hvr" href="javascript:void(0);"><i class="lab la-instagram" aria-hidden="true"></i></a></li>
                      <li><a class="pinterest-text-hvr" href="javascript:void(0);"><i class="lab la-pinterest-p" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="team-info">
                  <h4 class="team-name">Eden Wooderburg</h4>
                  <p class="team-designation">Creative Head</p>
                </div>
              </div>
            </div>
            <div class="item text-center">
              <div class="team-box">
                <div class="img-holder position-relative">
                  <img src="assets/img/team2.jpg">
                  <div class="overlay d-flex justify-content-center align-items-center">
                    <!--Team Social-->
                    <ul class="team-social">
                      <li><a class="facebook-text-hvr" href="javascript:void(0);"><i class="lab la-facebook-f" aria-hidden="true"></i></a></li>
                      <li><a class="twitter-text-hvr" href="javascript:void(0);"><i class="lab la-twitter" aria-hidden="true"></i></a></li>
                      <li><a class="instagram-text-hvr" href="javascript:void(0);"><i class="lab la-instagram" aria-hidden="true"></i></a></li>
                      <li><a class="pinterest-text-hvr" href="javascript:void(0);"><i class="lab la-pinterest-p" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="team-info">
                  <h4 class="team-name">Angelo Walking</h4>
                  <p class="team-designation">Design Lead</p>
                </div>
              </div>
            </div>
          </div>

          <a href="javascript:void(0);" class="team-nav team-prev" id="team-prev">
            <i class="fas fa-angle-left"></i>
          </a>
          <a href="javascript:void(0);" class="team-nav team-next" id="team-next">
            <i class="fas fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Team sec End-->
