<section class="blog-sec" id="blog-sec">
  <div class="left-overlay"></div>
  <div class="container position-relative">
    <div class="blog-inner-overlay"></div>
    <div class="row blog-area">
      <div class="col-12 col-lg-5 d-flex align-items-center text-center text-lg-left">
        <div class="blog-detail wow fadeInLeft">
          <h4 class="heading text-black">MONSERRAT GUERRA <span></span></h4>
        </div>
      </div>
      <div class="col-12 col-lg-6 offset-lg-1">
        <div class="blog-img wow fadeInRight">
          <img src="architect-studio/img/blog1.png" alt="blog-img">
        </div>
      </div>
    </div>
  </div>
</section>


<div class="testimonial-sec padding-top position-relative" id="testimonial-sec">
  <div class="right-overlay"></div>
  <div class="container">
    <div class="testimonial-area padding-top padding-bottom">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-12 d-flex justify-content-center align-items-center text-center text-lg-left">
            <div class="testimonial-details wow fadeInLeft">
              <h4 class="heading">MI BIO</h4>
              <p class="text">
                Monserrat Guerra es una agente de bienes raíces con una gran pasión por ayudar a las personas a
                encontrar la casa de sus sueños. Nacida en la ciudad de México, creció en un hogar humilde y aprendió
                desde temprana edad la importancia del trabajo duro y la perseverancia.
              </p>
              <p class="text">
                Hoy en día, Monserrat es una agente de bienes raíces altamente respetada y reconocida en su comunidad, y
                ha ayudado a muchas familias a encontrar la casa de sus sueños. Su dedicación y experiencia han hecho
                que muchos de sus clientes la recomienden a amigos y familiares, lo que ha llevado a un gran éxito en su
                carrera.
                <br>
                Además de su trabajo en bienes raíces, Monserrat también es una ávida defensora de la educación y la
                igualdad de oportunidades. Ha participado en varias organizaciones sin fines de lucro que buscan mejorar
                la vida de las personas y comunidades más vulnerables. Monserrat es un verdadero ejemplo de cómo la
                determinación, la perseverancia y el compromiso con los demás pueden llevar a un éxito verdadero y
                duradero en cualquier campo.
              </p>
            </div>
          </div>
          <div class="col-12 col-lg-12 offset-lg-1">
            <div class="blog-img wow fadeInRight">
              <img src="" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
