<section class="blog-sec" id="blog-sec">
  <div class="left-overlay"></div>
  <div class="container position-relative">
    <div class="blog-inner-overlay"></div>
    <div class="row blog-area">
      <div class="col-12 col-lg-5 d-flex align-items-center text-center text-lg-left">
        <div class="blog-detail wow fadeInLeft">
          <h4 class="heading text-black">MONSERRAT GUERRA <span></span></h4>
        </div>
      </div>
      <div class="col-12 col-lg-6 offset-lg-1">
        <div class="blog-img wow fadeInRight">
          <img src="assets/img/mon4.JPG" alt="blog-img">
        </div>
      </div>
    </div>
  </div>
</section>


<div class="testimonial-sec padding-top position-relative" id="testimonial-sec">
  <div class="right-overlay"></div>
  <div class="container">
    <div class="testimonial-area padding-top padding-bottom">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-12 d-flex justify-content-center align-items-center text-center text-lg-left">
            <div class="testimonial-details wow fadeInLeft">
              <h4 class="heading">MI BIO</h4>
              <p class="text">
                Soy Monserrat Guerra, una mujer profesional de 26 años con una experiencia de más de 8 años en ventas y excelentes dotes para liderar y consolidar equipos.
                Con conocimientos especializados para identificar oportunidades de negocio, optimizar procesos y maximizar la rentabilidad.
                <br>
                <br>
                Soy versátil y capaz de simultanear varias tareas. Con amplia experiencia en entornos laborales en los que se valora el compromiso y la capacidad de trabajar en equipo.
                Me caracterizo por mi dinamismo, proactividad y entusiasmo.
                <br>
                <br>
                Poseo amplios conocimientos en ventas enfocadas a la península Yucateca, bienes raíces para ser exacta, ayude a crecer Grupo López Rosa como Gerente de ventas en CDMX con desarrollos en Yucatán México, decido independizarme crear mi propia inmobiliaria con todo el conocimiento adquirido y con todo el respaldo de la empresa desarrolladora y el equipo formado en ventas.
                <br>
                <br>
                Así que, ¡estimado inversionista! quiero que sepas que estás en las mejores manos, te ayudaremos a incrementar tu patrimonio, aumentar tus ganancias y asesorarte en el mundo de las inversiones.
              </p>
            </div>
          </div>
          <div class="col-12 col-lg-12 offset-lg-1">
            <div class="blog-img wow fadeInRight">
              <img src="" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
